:root {
	--base-width: 50rem;
}

body {
	padding: 3em;
	font-family: system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.editor {
	border: 1px solid #bbb;
	margin-bottom: 1.8em;
	width: var(--base-width);
}

.read-only {
	background-color: #eee;
}

.plot {
	text-align: right;
	width: var(--base-width);
	height: 30rem;
	margin-bottom: 1em;

	canvas {
		margin-bottom: 1em;
	}

	button {
		position: relative;
		bottom: 3.3em;
		right: 1em;
		transition: background 0.25s, border-color 0.25s;
		background: rgba(40, 44, 52, 0.05);
		border: 1px solid transparent;
		border-radius: 0.3em;
		color: #3080d0;
		text-decoration: none !important;
		font-size: 0.9em;
		padding: 0.3em 0.6em;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	form {
		position: absolute;
		right: 0;
		top: -1.1rem;
	}
}

.ace_command {
	color: #213bff;
}

.ace_variable, .ace_string {
	color: #ff006e !important;
}

.ace_symbol {
	color: #777;
}

.ace_keyword {
	color: black !important;
}

.ace_editor .ace_marker-layer .ace_bracket {
	display: none
}

.correlation {
	display: inline-block;
	margin-bottom: 1.5em;

	table {
		border-collapse: collapse;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
	}

	td {
		padding: 0.125em 0.25em 0.125em 0.25em;
	}

	tr:first-child {
		text-align: center;
	}

	tr:first-child td:first-child {
		border-right: 1px solid black;
		border-bottom: 1px solid black;
	}

	tr:first-child td:nth-child(n + 2), tr:nth-child(n + 2) td:first-child {
		background-color: #f0f0f0;
	}

	tr:first-child td:nth-child(n + 2) {
		border-top: 1px solid black;
	}
	
	tr:nth-child(n + 2) td:first-child {
		border-left: 1px solid black;
	}
	
	tr:nth-child(n + 2) td:nth-child(n + 2) {
		text-align: right;
		border: 1px solid black;
	}
	
	div:last-child {
		text-align: right;
		font-size: 0.8em;
		color: #666;
	}

	.separator-top {
		border-left: 1px solid black;
	}

	.separator-left {
		border-top: 1px solid black;
	}
}

.equity-curve {
	font-size: 0.9em;

	input, span {
		vertical-align: middle;
	}

	span {
		margin-right: 0.5em;
	}
}

.results {
	width: var(--base-width);
	margin-bottom: 2.5em;

	table {
		border-collapse: collapse;
		flex: 1;
	}

	td {
		border: 1px solid #bbb;
		padding-left: 0.5em;
		padding-right: 0.5em;
		white-space: nowrap;
		vertical-align: top;
	}

	.general td:nth-child(2), .trades td:nth-child(2), .median td:nth-child(2) {
		text-align: right;
	}

	.general, .median {
		display: flex;
		align-items: flex-start;
		gap: 1em;
	}

	.general {
		margin-bottom: 1em;
	}

	.trades {
		display: flex;
		align-items: flex-start;
		gap: 1em;
		margin-bottom: 1.5em;

		tr:first-child {
			td {
				text-align: center;
				border: 0;
				padding-bottom: 0.1em;
			}
		}
	}

	.events, .parameters {
		width: calc(var(--base-width) - 2px);
		overflow-y: scroll;
		border: 1px solid #bbb;

		table {
			width: 100%;
		}

		td:first-child {
			border-left: 0;
		}

		td:last-child {
			border-right: 0;
		}

		tr:first-child td {
			border-top: 0;
		}

		tr:last-child td {
			border-bottom: 0;
		}
	}

	.events {
		height: 11.8rem;

		td:first-child {
			text-align: right;
		}

		td:last-child {
			overflow-wrap: break-word;
			white-space: normal;
		}

		.warning {
			color: #ffd000;
		}

		.error {
			color: #d00;
		}
	}

	.parameters {
		height: 11.8rem;
		margin-top: 1.5em;
		margin-bottom: 1em;

		td {
			white-space: nowrap;
		}

		td:has(span.numeric), td.numeric {
			text-align: right;
		}
	}

	.statistics {
		text-align: right;
		font-size: 0.85em;
		margin-right: 0.6em;
		color: #888;
	}

	.medianTitle {
		text-align: center;
		margin-bottom: 0.1em;
	}
}

.negative {
	color: #d00;
}